main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #C37B89;
  --secondary: #D8E9A8;
  --tertiary: #EAE7C6;
  --light: #fafafa;
  --dark: #1E5128;
  --darker: #111111;
  --error: #4E9F3D;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--error);
  color: var(--dark);
  font-family: 'Glacial Indifference';

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Marta';
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--darker);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

