@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400&family=Roboto:ital,wght@1,900&display=swap');


main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #7A987C;
  --secondary: #1E3023;
  --tertiary: #7C8C84;
  --light: #99AD90;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  --body-fonts: "Dancing Script", "Martel Sans", "Roboto";

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  color: var(--light);
  font-family: 'Glacial Indifference' sans-serif;
  background-image: url("../src/assets/leaves.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
  font-family: 'Martel Sans', sans-serif;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

#nav {
  background-color: var(--primary);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}


#text {
  color:var(--light);
  font-family: 'Dancing Script';
  font-size: 2rem;
}

#author {
  color:var(--tertiary);
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  padding-top: 1.2rem;
}

.quote-button {
    background-color: var(--tertiary);
    border: none;
    color: var(--secondary);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
}

.quote-button-quote {
  background-color: var(--tertiary);
  border: none;
  color: var(--secondary);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
}
.quote-button:hover {
  opacity: .75;
}

.quote-button-quote:hover {
  opacity: .75;
}

#credit {
  color:var(--tertiary);
  margin-left: 80%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  opacity: 0;
}

#quotes-box {
  background-color: rgb(30, 48, 35, .75);
  margin-top: 2rem;

}
.subhead {
  font-family: 'Roboto', sans-serif;
  font-size: 1.75rem;
  color: var(--primary);
}

#logo-box {
  margin-top: 7rem;
  background-color: rgb(30, 48, 35, .6);
}

.present {
  color: whitesmoke;
  font-family: 'Dancing Script';
  font-size: 10rem;
  text-align: center;
}

#time {
  margin-top: 4rem;
  text-align: center;
  color: var(--light);
  background-color: rgb(0, 0, 0, .7);
}

.jumbotext {
  text-align: center;
  color: var(--light);
  font-weight: bold;
}

.foot {
  background-color: var(--primary);
  color: var(--secondary);
}

.foot a {
  color: var(--secondary);
  text-decoration: none;
  font-weight: bold;
}

.foot a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.modal-title {
  color: var(--primary);
  
}
.modal-body {
  color: var(--primary);
}


.links {
  display: flex;
}