@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400&family=Roboto:ital,wght@1,900&display=swap');


main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #7A987C;
  --secondary: #1E3023;
  --tertiary: #7C8C84;
  --light: #99AD90;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  --body-fonts: "Dancing Script", "Martel Sans", "Roboto";

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  color: var(--secondary);
  font-family: 'Glacial Indifference' sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color:var(--secondary);
}


.signup-link {
    color: var(--secondary);
    font-family: 'Roboto' sans-serif;
    font-size: 1rem;
    text-decoration: none;
  }
  
  .signup-link:hover {
    text-decoration: underline;
    color: var(--secondary);
  }
  
  #login-box {
    background-color: rgb(255, 255, 255, .8);
    margin-top: 4rem;
    height: 34rem;
    border-radius: 25px;
  }

  #signup-box {
    background-color: rgb(255, 255, 255, .8);
    margin-top: 2rem;
    height: 38rem;
    border-radius: 25px;
  }
  
  .login {
    color: var(--secondary);
    font-family: 'Roboto' sans-serif;
    font-size: 5rem;
    font-weight: bolder;
  }
  
  .words-box {
    width: 60%;
  }

  #login-image {
    width: 100%;
    height: 36rem;
    border-radius: 25px;
    margin-top: 18px;
  }

  
  
.dancer {
    width: 100%;
    height: 32rem;
    border-radius: 25px;
    margin-top: 18px;
}